<h1>Users</h1>

<ul>
<% if !@users.nil?%>
<% @users.each do |user| %>
<li>
<%= user.name %>
</li>
<% end %>
<% else %>
<h4>USERS ES NULO</h4>
<% end %>
</ul>

<h4><%= link_to "New User", new_user_path %></h4>
